.benefits{
    background-image: url(../img/pattern_1.svg);
    background-size: cover;
}


.benefits-container{
    
    @include lg{
        display: flex;
        gap: 5rem;
    }
    
    @include md{
        width:80%;
        margin:auto;
    }

}

.benefits-img-top{
    width:22rem;
    margin:auto;
    display: block;
    margin-top:10rem ;
    margin-bottom: 6rem;

    @include lg{
        margin:0;
    }
}



.benefit{
    margin-bottom: 3rem;


    &_last{
        margin-bottom: 5rem;
    }
}

.benefits-grid-container{

    @include lg{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 6rem;
    }
}


.benefit-first, .benefit-third, .benefit-second{
    display: flex;
}



.benefit-img-container{
    width:6rem;
    height:6rem;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-shrink: 0;
    border-radius: 50%;
}

.benefit-img-1{
    background-color: #E89E09;;
}

.benefit-img-2{
    background-color: #17a2b8;
}

.benefit-img-3{
    background-color: #3D58F3;
    }
    

.benefit-img{
    color:white;
}

.benefit-description{
    margin-left: 1rem;
    h3{
        padding-bottom: 1.5rem;
        font-size: 2.2rem;
        font-weight: 400;
        color:$black;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.9rem;
        font-weight: 300;
        color:$black;
    }
}

.ecommerce-container{

    margin-top: 10rem;


    @include lg{
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 5rem;
    }

    @include md{
        width:80%;
        margin: auto;
        margin-top: 10rem;
    }
    
    .ecommerce{
        font-size: 4.8rem;
        color: $header-grey;
        font-weight: 500;
    }
    p{
        font-size: 1.4rem;
        margin-top: 2rem;
        line-height: 2.5rem;
        color: $black;

    }

    button{
        padding: 1rem 2.4rem;
        margin-top: 2rem;
        border: 2px solid #3D58F3;
        color: #3D58F3;
        border-radius: 50rem;
        font-size: 1.6rem;
        transition: background-color, color;
        transition-duration: 0.3s;

        &:hover{
            background-color: #3D58F3;
            color: white;
        }


    }

}

.benefits-img-bottom{
    width:22rem;
    margin:auto;
    display: block;
    margin-top:5rem ;
    margin-bottom: 8rem;
}

