header{
    padding: 1.2rem 1rem;
    width:100%;
    position:absolute;
    z-index: 2;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width:3.5rem;
}

.nav-ul{
    display: flex;
    gap:2rem;
    margin-left: 4rem;

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
        font-size: 1.4rem;
        color: rgba(0,0,0,0.5);

        &:hover{
            color:rgba(0,0,0,0.7);
        }
    
    }
}

.header-btn{
    padding: 1.5rem 4rem;
    border-radius: 25px;
    border: none;
    color:white;
    background-color: #383340;

    &:hover{
        cursor: pointer;
        box-shadow: 0 4px 12px rgb(56 51 64/30%); 
    }
} 

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;   
}


.hamburger{
    display: none;
    z-index: 3;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    z-index: 3;
    background-color: grey;
    transition: 0.4s;
}




@media(max-width:768px){
    
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        transition: 0.4s linear;
    }
    .hamburger.active .bar:nth-child(2){
        transform: translateX(-100%);
        opacity: 0;
        transition:0.4s linear;
    } 
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        transition:0.4s linear;
    }



    .menu{
        position: absolute;
        background-color: white;
        top: -1000%;
        width:100%;
        left:0;
        padding: 50px 0; 
        transition: 0.3s;
        flex-direction: column;

      .nav-ul{
          flex-direction: column;
          margin-bottom: 2rem;
      }

      .nav-link{
          margin-bottom: 2rem;
      }

      a{
          font-size: 2.5rem;
          
      }
  }

} 



.menu.active{
      position: absolute;
      top: 0;
  }

.header-btn-open{
      display: none;
  }